metadata:
  id: rHetBin1
  species: "Heteronotia binoei"
  mitochondrial_code: 2
sequencing_data:
  long_reads:
    platform: "pacbio"
    reads:
      - ${PWD}/results/qc/reads/PACBIO_SMRT/bpa-ausarg-pacbio-hifi-414129-da235337.fastq.gz
      - ${PWD}/results/qc/reads/PACBIO_SMRT/bpa-ausarg-pacbio-hifi-414129-da235386.fastq.gz
  hic:
    reads:
      - ${PWD}/results/qc/reads/Hi-C/bpa-ausarg-hi-c-414130-hkwjjdmxy.cram
    hic_motif:
      - GATC
      - GANTC
      - CTNAG
      - TTAA
databases:
  busco:
    lineage: squamata_odb12
  oatk:
    mito_hmm: https://github.com/c-zhou/OatkDB/raw/main/v20230921/lepidosauria_mito.fam