assembly:
  assem_level: scaffold
  assem_version: 2
  sample_id: rHetBin1
  latin_name: Heteronotia binoei
  defined_class: 
  project_id: AToL
reference_file: ${PWD}/results/ascc/rHetBin1.2/pacbio_hifi.phased/PRIMARY_HAPLO_combined.fasta.gz
map_order: length
assem_reads:
  read_type: hifi
  read_data:
    - ${PWD}/results/qc/reads/PACBIO_SMRT/bpa-ausarg-pacbio-hifi-414129-da235337.fasta.gz
    - ${PWD}/results/qc/reads/PACBIO_SMRT/bpa-ausarg-pacbio-hifi-414129-da235386.fasta.gz
  supplementary_data: path
hic_data:
  hic_cram:
    - ${PWD}/results/qc/reads/Hi-C/bpa-ausarg-hi-c-414130-hkwjjdmxy.cram
  hic_aligner: bwamem2
kmer_profile:
  # kmer_length will act as input for kmer_read_cov fastk and as the name of folder in profile_dir
  kmer_length: 31
  profile: ${PWD}/results/genomeassembly/rHetBin1.2/rHetBin1.2.pacbio_hifi.phased
self_comp:
  motif_len: 0
intron:
  size: "50k"
telomere:
  teloseq: TTAGGG
synteny:
  - /path/to/synteny.fasta
busco:
  lineages_path: ${PWD}/resources/staging/busco
  lineage: squamata_odb12
alignment:
  genesets:
    - /path/to/genesets.csv