// sanger-tol job config is here:
// https://github.com/sanger-tol/genomeassembly/blob/dev/conf/base.config

profiles {

    pawsey {

        //  Note, it's tempting to use the apptainer profile, but the nf-core
        //  (and some sanger-tol) pipelines have a conditional
        //  `workflow.containerEngine == 'singularity'` that prevents using the
        //  right URL with apptainer.
        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B $PWD,$TMPDIR,/scratch -H $(mktemp -d) --pwd $PWD --containall --cleanenv --writable-tmpfs'
        }

        // Submit up to 256 concurrent jobs (Setonix work partition max)
        executor {
            queueSize = 128
        }

        // Define process resource limits
        process {
            resourceLimits = [
                memory: 1020.GB,
                cpus: 256,
            ]
            executor = 'slurm'
            module = 'singularity/4.1.0-nohost'
            cache = 'lenient'
            stageInMode = 'symlink'

            // Try to avoid the long queue by redefining the time for jobs that
            // request more than 1.d on the first attempt. Subsequent attempts
            // won't be modified.
            queue = { task.memory > 235520.MB ? 'highmem' : (task.time > 1.d ? 'long' : null) }

            // Pawsey gives error 125 when the OOM killer is active. Try to
            // override the default spec (which is here:
            // https://github.com/sanger-tol/genomeassembly/blob/31b508a3bd8998a27f6d06d5dc41bea4707b4a03/conf/base.config#L18)
            errorStrategy = { task.exitStatus in ((130..145) + 104 + 125) ? 'retry' : 'finish' }

            // Reduce the time for HIFIASM to avoid the long queue
            // and reduce memory to avoid highmem queue
            withName: '.*:HIFIASM.*' {
                time = { 6.h * task.attempt }
                memory = { 72.GB * task.attempt }
            }

            // YAHS fell over when attempting the P. mellis assembly but fails
            // silently and messes up all the downstream assembly stuff so
            // chuck a whole node at YAHS just in case
            withName: 'SANGERTOL_GENOMEASSEMBLY:GENOMEASSEMBLY:SCAFFOLDING:SCAFFOLDING_YAHS:YAHS' {
                memory = { task.attempt == 1 ? 230.GB : null }
            }

            // BUSCO 6 (as used in 0.50.0) also generates a whole bunch of
            // output files so add --tar option to ext.args to zip the output
            // we're pointing at a local download of busco, so add --offline
            // also add --skip_bbtools to avoid this bug:
            // https://gitlab.com/ezlab/busco/-/issues/821
            withName: '.*BUSCO.*' {
                ext.args = { "--tar --offline --skip_bbtools" }
            }

            // JUICERTOOLS_PRE was sometimes timing out with its default 8hr
            // limit especially on larger or more shrapnelly assemblies
            // increase default time
            withName: '.*JUICERTOOLS_PRE' {
                time = { 12.h * task.attempt }
            }

            // was running out of memory with default settings
            withName: '.*MERQURYFK_MERQURYFK' {
                memory = { task.attempt == 1 ? 72.Gb : null }
            }

            // version of pyfastx (2.2.0) in 0.50.0's container had a bug: pull
            // container version being used in 1.0.0
            withName: '.*FASTXALIGN_MINIMAP2ALIGN' {
                container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e3/e3e96ee4627b21402c6503d365bdc27e61f3ef5ae6dbeeda02b70a7157f2de9d/data'
            }

            // version of pyfastx (2.2.0) in 0.50.0's container had a bug: pull
            // container version being used in 1.0.0
            withName: '.*FASTXALIGN_PYFASTXINDEX' {
                container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e3/e3e96ee4627b21402c6503d365bdc27e61f3ef5ae6dbeeda02b70a7157f2de9d/data'
            }

            // modify times to avoid long queue  (is 30hr * task attempt by default in 0.50.0)
            withName: '.*:SCAFFOLDING:SCAFFOLDING_YAHS:YAHS_MAKEPAIRSFILE' {
                time = { 24.h * task.attempt }
            }

            // modify times to avoid long queue  (is 48hr * task attempt by default in 0.50.0)
            withName: '.*:ORGANELLE_ASSEMBLY:MITOHIFI_MITOHIFI.*' {
                time = { 24.h * task.attempt }
            }

            // modify times to avoid long queue (is 48hr * task attempt by default in 0.50.0)
            withName: '.*:ORGANELLE_ASSEMBLY:OATK' {
                time = { 24.h * task.attempt }
            }
        }

        aws {
            client {
                endpoint = 'https://projects.pawsey.org.au'
                s3PathStyleAccess = true
                maxConnections = 4
                maxErrorRetry = 20
                uploadMaxAttempts = 20
            }
        }
    }
}
